doctype html
html(lang="ru")
    head
        include html/chunks/head.pug
    body
        include html/chunks/header.pug

        main
            include html/content/main.pug

        include html/chunks/footer.pug
        include html/chunks/loadjs.pug