content-width = 1000px

/*
@font-face
    font-family: 'ElMessiri'
    src: url(/assets/fonts/el_messiri/ElMessiri-Regular.ttf);

@font-face
    font-family: 'ElMessiri'
    src: url(/assets/fonts/el_messiri/ElMessiri-Bold.ttf);
    font-weight: bold;
*/

@import '/bower_components/normalize-css/normalize.css'
@import 'css/**/*.styl'
